:root {
  --main: #101828;
  --text: #475467;
  --gray: #6C717B;
  --gray-light: #DADDE1;
  --input-bg: #F7F7F7;
  --badge-bg: #F2F4F7;
  --primary: #E44848;
  --primary-hover: #D84343;
  --rating: #FFC531;
  --white: #FFFFFF;
}
