.form {
  padding: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
}

.form input {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background: var(--input-bg);
  margin-bottom: 12px;
}

.form button {
  width: 100%;
  padding: 16px;
  border-radius: 200px;
  border: none;
  background: var(--primary);
  color: white;
  cursor: pointer;
}
