.form {
  width: 448px;
  padding: 44px 32px;
  background: #f7f7f7;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* TITLE */
.title {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 8px;
}

/* INPUTS + TEXTAREA */
.form input,
.form textarea {
  width: 100%;
  padding: 16px 18px;

  font-family: "Inter", system-ui, sans-serif;
  font-size: 16px;
  color: #101828;

  background: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 10px;

  outline: none;
}

/* PLACEHOLDER */
.form input::placeholder,
.form textarea::placeholder {
  color: #667085;
}

/* FOCUS */
.form input:focus,
.form textarea:focus {
  border-color: #e44848;
}

/* TEXTAREA */
.form textarea {
  resize: none;
  min-height: 118px;
}

/* BUTTON */
.form button {
  margin-top: 8px;
  height: 56px;

  background: #e44848;
  border-radius: 200px;
  border: none;

  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  cursor: pointer;
}

.form button:hover {
  background: #d63f3f;
}
