.gallery {
  display: flex;
  gap: 16px;
}

.imageWrap {
  width: 292px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
