/* CARD */
.card {
  width: 888px;
  background: #ffffff;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  box-sizing: border-box;
}

/* CONTENT */
.content {
  display: flex;
  gap: 24px;
}

/* IMAGE */
.imageWrap {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery {
  width: 100%;
  height: 100%;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* INFO */
.info {
  width: 524px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* TITLE ROW */
.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #101828;
}

/* PRICE */
.price {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 600;
}

.favoriteBtn {
  width: 26px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* META */
.meta {
  display: flex;
  gap: 16px;
  font-size: 16px;
  color: #101828;
}

.reviews,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* DESCRIPTION */
.description {
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

/* BADGES */
.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  padding: 12px 18px;
  background: #f2f4f7;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
}

/* BUTTON */
.showMore {
  margin-top: auto;
  width: 166px;
  height: 56px;
  background: #e44848;
  border-radius: 200px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
