.card {
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
}

.content {
  display: flex;
  gap: 24px;
}

/* IMAGE */
.imageWrap {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO */
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.meta {
  display: flex;
  gap: 16px;
  font-size: 16px;
}

.description {
  color: #475467;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badges span {
  padding: 12px 18px;
  background: #f2f4f7;
  border-radius: 100px;
}

.showMore {
  margin-top: auto;
  width: 166px;
  height: 56px;
  background: #e44848;
  border-radius: 200px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
