.card {
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
}

.content {
  display: flex;
  gap: 24px;
}

/* IMAGE */
.imageWrap {
  width: 292px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO */
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.price {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px; 

}

.meta {
  display: flex;
  gap: 16px;
  font-size: 16px;
}

.description {
  color: #475467;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badges span {
  padding: 12px 18px;
  background: #f2f4f7;
  border-radius: 100px;
}

.showMore {
  margin-top: auto;
  width: 166px;
  height: 56px;
  background: #e44848;
  border-radius: 200px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favoriteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.favoriteBtn img {
  width: 24px;
  height: 24px;
}

.favoriteBtn.active img {
  filter: invert(36%) sepia(88%) saturate(7490%) hue-rotate(350deg);
  
}
.savedBadge {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #e44848;

  background: #fff5f5;
  padding: 4px 10px;
  border-radius: 20px;

  text-decoration: none;
}

.savedBadge:hover {
  text-decoration: underline;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
