.filters {
  margin-bottom: 32px;
}

.input {
  width: 300px;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background: var(--input-bg);
  margin-bottom: 16px;
}

.chips {
  display: flex;
  gap: 12px;
}

.chip {
  padding: 12px 18px;
  border-radius: 100px;
  background: var(--badge-bg);
  border: none;
  cursor: pointer;
}

.active {
  border: 1px solid var(--primary);
}
